[tool.poetry]
name = "redisbench-admin"
version = "0.1.20"
description = "Redis benchmark run helper. A wrapper around Redis and Redis Modules benchmark tools ( ftsb_redisearch, memtier_benchmark, redis-benchmark, aibench, etc... )."
authors = ["filipecosta90 <filipecosta.90@gmail.com>"]
readme = "README.md"

[tool.poetry.scripts]
redisbench-admin = "redisbench_admin.cli:main"

[tool.poetry.dependencies]
python = "^3.6.1"
pandas = "^1.0.4"
humanize = "^2.4.0"
requests = "^2.23.0"
py_cpuinfo = "^5.0.0"
redis = "^3.5.3"
boto3 = "^1.13.24"
tqdm = "^4.46.1"
toml = "^0.10.1"
seaborn = "^0.10.1"
matplotlib = "^3.2.1"
redistimeseries = "^0.8.0"
redis-py-cluster = "^2.1.0"

[tool.poetry.dev-dependencies]
pytest = "^4.6"
pytest-cov = "^2.9.0"
codecov = "^2.1.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
